<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.easing.min.js"></script>
    <script src="/javascripts/jquery.fadeloader.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</head>
<body>
<% if (success) { %>
<div class="alert alert-success alert-dismissible" role="alert" style="z-index: 1000; position: fixed; top: 0; right: 0">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= success %></strong>
</div>
<% } %>
<% if (error) { %>{
<div class="alert alert-warning alert-dismissible" role="alert" style="z-index: 1000; position: fixed; top: 0; right: 0;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= error %></strong>
</div>
<% } %>
<div class="header a">
    <div class="container">
        <div class="headerContainer-left">
            <form action="/search" method="get">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><a class="logo" href="/"></a> </span>
                    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" name="keyword">
                    <span class="input-group-addon" id="basic-addon1">
                        <span id="imgSearch" class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                    </span>
                </div>
            </form>
            <div id="upload">
                <div class="upload-info">
                    <form method="post" action="/imgsearch" enctype='multipart/form-data'>
                        <div class="upload-wrap">
                            <input type="file" class="upload-pic" name="imgsearch" id="uploadInput">
                            <span class="upload-text" id="uploadSpan">本地上传图片</span>
                        </div>
                        <button class="btn btn-info upload-submit" type="submit">搜索</button>
                    </form>
                </div>
                <a class="upload-remove btn btn-danger" id="upload-remove">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="headerContainer-right">
            <% if (user) { %>
            <div class="userinfo">
                <div class="btn-group">
                    <a href="/u/<%= user._id %>" class="btn btn-default"><%= user.name %></a>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <% msg.forEach(function(m){%>
                            <li><a href="/tags/<%= m %>"><%= m %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <a href="/logout" class="btn btn-danger">
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                </a>
                <a class="btn btn-info" id="tag-bar">分类</a>
            </div>
            <% } else  { %>
            <div class="userinfo">
                <a href="/login" class="btn btn-info">登录</a>
                <a href="/signup" class="btn btn-success">注册</a>
            </div>
            <% } %>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="footer-buttons">
    <% if (user) { %>
    <a id="plus">
        <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
    </a>
    <% } %>
    <a id="totop">
        <span class="glyphicon glyphicon-eject" aria-hidden="true" ></span>
    </a>
</div>
<!--新建图像-->
<div id="new">
    <div class="upload-info">
        <form method="post" action="/new" enctype='multipart/form-data'>
            <div class="upload-wrap">
                <input type="file" class="upload-pic" name="fulAvatar" id="newInput">
                <span class="upload-text" id="newSpan">本地上传图片</span>
            </div>
            <button class="btn btn-info upload-submit" type="submit">创建</button>
        </form>
    </div>
    <a class="upload-remove btn btn-danger" id="new-remove">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
</div>
