<%- include header.ejs %>
<div class="main-container">
    <div class="masonry-container" id="masonry-container">
        <% images.forEach(function(image){ %>
        <div class="item" data-src="<%= image.imagePath %>" data-id="<%= image._id %>">
            <div class="item-modal mBtn item-image" data-toggle="modal" data-target="#myModal" id="modal-btn">

            </div>

            <% if (user) { %>
            <a class="item-user"  href="/u/<%= image.name %>">
                <b><%= image.name %></b>
            </a>
            <% } %>

            <% if (user) {%>

            <div class="item-wrap">
                <%= image.info %>
            </div>
            <div class="item-from">
                <span class="glyphicon glyphicon-tags"></span>
                <% image.tag.forEach(function(tg){ %>
                <% if (tg) { %>
                <a href="/tags/<%= tg %>"><%= tg %></a>
                <% } %>
                <% }) %>
            </div>

            <% } %>
        </div>
        <% }) %>
        <div class="clear"></div>
    </div>
    <%- include paging.ejs %>
</div>
<!--bootstrap弹窗-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class="modal-body-img" id="md-by" src="" alt="">
                <div class="modal-body-info" id="md-info"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <a href="" class="btn btn-orange" id="md-vi">查看</a>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>
