<%- include header.ejs %>
<div class="main-container">
    <div class="masonry-container">
        <% images.forEach(function(image, index){ %>
        <div class="item">
            <div class="item-modal mBtn item-image" data-toggle="modal" data-target="#myModal" id="modal-btn">
                <img src="<%= image.imagePath %>" data-imgname="<%= image.imageName %>">
            </div>

            <% if (user) { %>
            <a class="item-user"  href="/u/<%= image.name %>">
                <b><%= image.name %></b>
            </a>
            <% } %>

            <% if (user) {%>
            <% if ((!image.info)&&(image.name == user.name)) { %>
            <div class="item-from">
                请您点击<a href="/u/edit/<%= user.name %>/<%= image.imageName %>"><i>编辑</i></a> 进行编辑!
            </div>
            <% } else { %>
            <div class="item-wrap">
                <%= image.info %>
            </div>
            <div class="item-from">
                来自于
                <% image.tag.forEach(function(tg, index){ %>
                <% if (tg) { %>
                <a href="/tags/<%= tg %>"><%= tg %></a>
                <% } %>
                <% }) %>
            </div>
            <% } %>
            <% } %>
        </div>
        <% }) %>

        <div class="item">
            <a class="item-modal mBtn item-image" data-toggle="modal" data-target="#myModal" id="modal-btn"><img src="/images/1.jpg" alt=""></a>
            <div class="item-wrap">
                Kaweco Liliput Fireblue Fountain Pen at FahrneysPens.com
            </div>
            <div class="item-user">
                <a>username</a>
            </div>
            <div class="item-from">
                来自于 <a>info</a>
            </div>
        </div>

        <div class="item">
            <a class="item-modal mBtn item-image" data-toggle="modal" data-target="#myModal" id="modal-btn"><img src="/images/1.jpg" alt=""></a>
            <div class="item-wrap">
                Kaweco Liliput Fireblue Fountain Pen at FahrneysPens.com
            </div>
            <div class="item-user">
                <a>username</a>
            </div>
            <div class="item-from">
                来自于 <a>info</a>
            </div>
        </div>

        <div class="item">
            <a class="item-modal mBtn item-image" data-toggle="modal" data-target="#myModal" id="modal-btn"><img src="/images/5.jpg" alt=""></a>
            <div class="item-wrap">
                Kaweco Liliput Fireblue Fountain Pen at FahrneysPens.com
            </div>
            <div class="item-user">
                <a>username</a>
            </div>
            <div class="item-from">
                来自于 <a>info</a>
            </div>
        </div>

        <div class="item">
            <a class="item-modal mBtn item-image" data-toggle="modal" data-target="#myModal" id="modal-btn"><img src="/images/4.jpg" alt=""></a>
            <div class="item-wrap">
                Kaweco Liliput Fireblue Fountain Pen at FahrneysPens.com
            </div>
            <div class="item-user">
                <a>username</a>
            </div>
            <div class="item-from">
                来自于 <a>info</a>
            </div>
        </div>

        <div class="item">
            <a class="item-modal mBtn item-image" data-toggle="modal" data-target="#myModal" id="modal-btn"><img src="/images/3.jpg" alt=""></a>
            <div class="item-wrap">
                Kaweco Liliput Fireblue Fountain Pen at FahrneysPens.com
            </div>
            <div class="item-user">
                <a>username</a>
            </div>
            <div class="item-from">
                来自于 <a>info</a>
            </div>
        </div>

        <div class="item">
            <a class="item-modal mBtn item-image" data-toggle="modal" data-target="#myModal" id="modal-btn"><img src="/images/2.jpg" alt=""></a>
            <div class="item-wrap">
                Kaweco Liliput Fireblue Fountain Pen at FahrneysPens.com
            </div>
            <div class="item-user">
                <a>username</a>
            </div>
            <div class="item-from">
                来自于 <a>info</a>
            </div>
        </div>

        <div class="clear"></div>

    </div>
</div>
<!--bootstrap弹窗-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <img class="modal-body-img" id="md-by" src="" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <a href="" class="btn btn-primary" id="md-vi">查看相似</a>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>
