<%- include header.ejs %>
<div class="main-container">
    <div class="masonry-container">
        <% searchs.forEach(function(search){ %>
        <div class="item" data-src="<%= search.imagePath%>">
            <div class="item-modal mBtn item-image" data-toggle="modal" data-target="#myModal" id="modal-btn">

            </div>

            <% if (user) { %>
            <a class="item-user"  href="/u/<%= search.name %>">
                <b><%= search.name %></b>
            </a>
            <% } %>

            <% if (user) {%>

            <div class="item-wrap">
                <%= search.info %>
            </div>
            <div class="item-from">
                <span class="glyphicon glyphicon-tags"></span>
                <a href="/tags/<%= search.tag %>"><%= search.tag %></a>
            </div>

            <% } %>
        </div>
        <% }) %>

        <div class="clear"></div>

    </div>
</div>
<!--bootstrap弹窗-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class="modal-body-img" id="md-by" src="" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <a href="" class="btn btn-primary">查看相似</a>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>