<%- include header.ejs %>
<div class="fixed-header">
    <div class="container">
        <% if (currentUser.name == user.name) { %>
        <a class="btn btn-danger col-sm-1" data-toggle="modal" data-target="#myModal">编辑</a>
        <div class="dropdown col-sm-1">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#">编辑</a></li>
                <li><a href="#">帮助</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </div>
        <a href="/u/<%= currentUser._id %>/history" class="btn btn-info col-sm-1">浏览记录</a>
        <% } %>
    </div>
</div>
<div class="user-title">
    <div class="user-title-info">
        <h1 id="user-name"><%= currentUser.name %></h1>
    </div>
</div>
<div class="user-text">
    <div class="user-text-info">
        <p><%= currentUser.text %></p>
    </div>
</div>
<div class="main-container">
    <div class="masonry-container">
        <% images.forEach(function(image) { %>
        <div class="item">
            <% if (image.name == user.name) { %>
            <a href="/remove/<%= image._id %>" class="remove btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            <% } %>
            <a href="/info/<%= image.imageName %>" class="item-image"><img src="<%= image.imagePath %>" alt=""></a>
            <div class="item-user">
                <a><%= image.name %></a>
            </div>

            <div class="item-wrap">
                <%= image.info %>
            </div>
            <div class="item-from">
                来自于
                <% image.tag.forEach(function(tg, index){ %>
                <% if (tg) { %>
                <a href="/tags/<%= tg %>"><%= tg %></a>
                <% } %>
                <% }) %>
            </div>

        </div>
        <% }) %>

        <div class="item">
            <a href="/" class="item-image"><img src="/images/1.jpg" alt=""></a>
            <div class="item-wrap">
                Kaweco Liliput Fireblue Fountain Pen at FahrneysPens.com
            </div>
            <div class="item-user">
                <a>username</a>
                <a class="btn btn-info">查看</a>
            </div>
            <div class="item-from">
                来自于 <a>info</a>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑我的信息</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">用户名</span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" id="edit-name">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">邮 箱</span>
                        <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" id="edit-email">
                    </div>
                    <br>
                    <textarea class="form-control" rows="3" placeholder="个性签名..." id="edit-text"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <a class="btn btn-primary" id="edit-edit" href="/">修改</a>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>